@media only screen and (min-width:320px) and (max-width:991px){
    .logo__back{
        
    }
    .logo__back h2{
    color: #3e66e7;
    text-align: center;
    margin-top: 7px;
    font-family: cursive;
    }
    .logo__back img{
        float: none !important;
        margin: 0 auto;
        display: block;
        margin-bottom: 5px;
    }
}

.logo__back{
    background-image: url('../../images/header-back.png');
    height: 100%;
}
.logo__back h2{
    color: #3e66e7;
    margin-top: 7px;
    font-family: cursive;
}
.logo__back img{
    float: right;
    margin-top: 1rem;
}